# Titanic - Quick Logistic Regression

## 1. Import Libraries

In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report,accuracy_score

## 2. Load and Prepare Data

In [2]:
# load dataframe
df = pd.read_csv('data/titanic.csv')

In [3]:
# verify
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# based on initial analysis we are not likely to use name, passengerid, ticket, and cabin colums
df.drop(['Name','PassengerId','Ticket','Cabin'], axis=1, inplace=True)

In [5]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [6]:
# categorical variables will be converted into dummy or indicator variables
df = pd.get_dummies(df,drop_first=True)

In [7]:
df.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S
0,0,3,22.0,1,0,7.2500,1,0,1
1,1,1,38.0,1,0,71.2833,0,0,0
2,1,3,26.0,0,0,7.9250,0,0,1
3,1,1,35.0,1,0,53.1000,0,0,1
4,0,3,35.0,0,0,8.0500,1,0,1

## 3. Apply Logistic Regression Model

In [8]:
df = df.dropna()

In [9]:
# create X, y variables for scikit learn
X = df.drop(['Survived'],axis=1)
y = df['Survived']

In [10]:
# create test and split
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=2)

In [15]:
# model fit and generate predictions for comparison against test
lr = LogisticRegression(max_iter=200)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)

## 4. Basic Model Evaluation

In [16]:
# basic accuracy
accuracy_score(y_test,y_pred).round(2)

0.84

In [17]:
# generate confusion matrix
confusion_matrix(y_test,y_pred)

array([[101,  15],
       [ 13,  50]])

In [18]:
# generate classification report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.89      0.87      0.88       116
           1       0.77      0.79      0.78        63

    accuracy                           0.84       179
   macro avg       0.83      0.83      0.83       179
weighted avg       0.84      0.84      0.84       179